<html>
<head>
  <title>Welcome</title>
  <meta charset="utf8">
</head>
<body class="body">
  <div class="subtitle">welcome to...</div>
    <div class="img_row">
      <div class="img"><img src="assets/one.gif" style="max-height: 100px"></div>
      <div class="img"><img src="assets/ten.gif" style="max-height: 100px"></div>
      <div class="img"><img src="assets/three.gif" style="max-height: 100px"></div>
      <div class="img"><img src="assets/seventeen.gif" style="max-height: 100px"></div>
    </div>
    <div class="subtitle">reid's #1 blog na</div>
    <div class="img_row">
      <div class="img"><img src="assets/four.gif" style="max-height: 100px"></div>
      <div class="img"><img src="assets/thirteen.gif" style="max-height: 100px"></div>
      <div class="img"><img src="assets/six.gif" style="max-height: 100px"></div>
      <div class="img"><img src="assets/twentythree.gif" style="max-height: 100px"></div>
    </div>
    <div>
      <div class="links">
        <a class="link" href="about.html">about</a>
      </div><!--
   --><div class="links">
        <a class="link" href="posts/index">all posts</a>
      </div><!--
   --><div class="links">
        <a class="link" href="posts/index">comments</a>
      </div>
    </div>
    <div class="img_row">
      <div class="img"><img src="assets/seven.gif" style="max-height: 100px"></div>
      <div class="img"><img src="assets/fourteen.gif" style="max-height: 100px"></div>
      <div class="img"><img src="assets/nine.gif" style="max-height: 100px"></div>
      <div class="img"><img src="assets/thirty.gif" style="max-height: 100px"></div>
    </div>
</body>
</html>
